*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.project_name{
  text-decoration: none;
  color: #185CFF;
  font-size: 40px;
}
.nav_link_div{
  margin-right: 13%;
}
.nav_links{
  text-decoration: none;
  font-size: 25px;
  color: grey;
  margin-left: 10%;
  transition: .5s ease;
}
.nav_link{
  text-decoration: none;
  font-size: 25px;
  color: grey;
  transition: .5s ease;
}
.nav_link:hover{
  color: black;
}
.nav_links:hover{
  color: black;
}
.nav_btn_div{
  width: 300px;
}
.nav_btn{
  width: 120px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  transition: .5s ease;
}
.nav_bt:hover{
  width: 120px;
  height: 40px;
  background-color: #185CFF;
  border-radius: 10px;
  border: none;
  color: white;
}
.nav_bt{
  transition: .5s ease;
  margin-left: 5%;
  width: 120px;
  height: 40px;
  border:1px  solid #185CFF;
  border-radius: 10px;
  color: #185CFF;
  background-color: aliceblue;
}
.nav_btn:hover{
  color: #185CFF;
  border:3px  solid #185CFF;
}